footer.footer(style='position: fixed; background: black; color: white; left:0; bottom: 0; z-index: 100;')
  .container-fluid(style='padding-top: 8px')
    .row
      .col
        text.font-weight-light
          | REDACTED will NEVER sell, store, steal, plunder, or pilfer any of your lead data.
          | Any data you share with us is always encrypted and sensitive information is hashed.
        br
        | © 2019 Copyright: 
        a(href='https://REDACTED.com') REDACTED.com 
        | | 
        a(href="/terms") Terms & Conditions 
        |  | 
        a(href="/privacy") Privacy Policy
      .col
        img.img-fluid.float-right(src=`/img/logos.png`, style='width: 50%')
